<%- include("./partials/header.ejs") %>

<div class = "container">
    <div class = "display-1 fw-bold text-body-emphasis text-center">
        <span class = "lead display-4">A Place To</span>
        <div class = "container d-flex flex-column mt-5" id = "pushed">
            <div class = "row">
                <span id = "chat">Chat</span>
            </div>

            <div class = "row">
                <span id="share">Share</span>
            </div>

            <div class = "row">
                <span id="comp">Complain</span>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>