.nav-link:hover{
    color: grey;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#mcm {
    margin-right: 15px;
    width: 70px;
    height: 35px;
}

p {
    margin: 0;
}

.center {
    text-align: center;
}


#share, #chat, #comp{
    display: inline-block;
    transition: transform 0.3s ease;
}
#share:hover {
    transform: translateY(-15px);
    color: blue;
}

#chat:hover {
    transform: translateY(-15px);
    color: rgb(255, 0, 255);
}

#comp:hover {
    transform: translateY(-15px);
    color: rgb(210, 164, 55);
}

#pushed {
    gap: 10vh;
    margin-bottom: 10vh;
}

#btn-text{
    color:white;
}

.dialog-none {
    display: none;
}

.pi {
    margin-bottom: 48px;
    border-radius: 10%;
}


.to-left {
    text-align: left;
}

.to-right{
    text-align: right;
}

@media (max-width: 768px) {
    header {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

#delete-enable {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    color: white;
}


p.lead {
    word-wrap:break-word;/* Ensure long text breaks within the container */
    white-space: normal; /* Ensure text wraps normally */
}

.post-details {
    flex: 1;
    min-width: 0; /* Prevent flex items from growing beyond container */
}